    <aside class="bg-primary" class="how-to-order">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-heading">Tilaukset Facebookin tai sähköpostin kautta</h3>
                    <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">Tilaa</a>
                </div>
            </div>
        </div>
    </aside>