---
title: Looma K
description: Looma K - koruja käsityönä
---
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><img src="img/loomak.png" alt="Looma K"/></h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Yritys</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Yritys</h2>
                    <hr class="light">
                    <p class="text-faded">Yhden kotiäidin (ja vähän miehen ja kahden tytön) pienyritys, joka valmistaa käsityönä aikuisten ja lasten koruja.</p>
                    <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">Korut</a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-6 col-sm-6">
                    <a href="img/portfolio/fullsize/koru1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/koru1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Imetyskoru - aikuisten
                                </div>
                                <div class="project-name">
                                    Pinkki
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="img/portfolio/fullsize/koru2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/koru2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Imetyskoru - aikuisten
                                </div>
                                <div class="project-name">
                                    Turkoosi
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>