---
title: Looma K - koruja käsityönä
description: Looma K - silikonikoruja ja puukoruja kotimaisena käsityönä
---
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><img src="img/loomak.png" alt="Looma K"/></h1>
                <hr>
                <a href="#crafts" class="btn btn-primary btn-xl page-scroll">Korut</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="crafts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Koruja kotimaisena käsityönä</h2>
                    <hr class="light">
                    <p class="text-faded">Käytän koruissani materiaaleja, joita lasten/vauvojen on myös turvallista laittaa suuhun. Silikonihelmet ovat <strong>bpa-vapaita, pvc-vapaita, ftalaatittomia, lyijytömiä, kadmiumittomia ja hajuttomia</strong></p>
                    <p class="text-faded">Puuhelminä käytän Detoa-puuhelmiä, jotka ovat turvallisia ja laadukkaita. Detoan tuotteita käytetään myös useissa lastenleluissa.</p>
                    <p class="text-faded">Muistathan kuitenkin, että korut eivät ole leluja ja korut on tarkoitettu yli 3-vuotiaille.</p>
                    <p class="text-faded">Ympäristöystävällisyys ja kotimaisuus ovat tärkeitä asioita minulle ja ostan kaikki materiaalit suomalaisilta jälleenmyyjiltä.</p>
                    <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">Mallisto</a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_aikuisten_1_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_aikuisten_1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aikuisten koru
                                </div>
                                <div class="project-name">
                                    Ilo
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_aikuisten_2_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_aikuisten_2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aikuisten koru
                                </div>
                                <div class="project-name">
                                    Syli
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_aikuisten_3_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_aikuisten_3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aikuisten koru
                                </div>
                                <div class="project-name">
                                    Hymy
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_lasten_1_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_lasten_1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lasten koru
                                </div>
                                <div class="project-name">
                                    Kuje
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_lasten_2_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_lasten_2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lasten koru
                                </div>
                                <div class="project-name">
                                    Pilke
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_lasten_3_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_lasten_3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lasten koru
                                </div>
                                <div class="project-name">
                                    Kikatus
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/avainnauha_silikoni_aikuisten_1_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/avainnauha_silikoni_aikuisten_1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Avainnauha
                                </div>
                                <div class="project-name">
                                    Työ
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_lasten_1_eg_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_lasten_1_eg.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lasten koru, esimerkkejä väreistä
                                </div>
                                <div class="project-name">
                                    Kuje
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/kaulakoru_silikoni_lasten_3_eg_full.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/kaulakoru_silikoni_lasten_3_eg.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lasten koru, esimerkkejä väreistä
                                </div>
                                <div class="project-name">
                                    Kikatus
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><img src="img/loomak_logo_2.png" alt="Looma K - logo"/></h2>
                    <hr>
                    <p class="text-muted">Looma K on yhden kotiäidin (ja vähän miehen ja kahden tytön) pienyritys, joka valmistaa käsityönä aikuisten ja lasten koruja sekä avainnauhoja.</p>
                    <p class="text-muted">Looma K:n takana häärin minä, Henna. Olen tehnyt koruja noin kahdeksan vuoden ajan. Korujen teko ja niiden pitäminen jäi tauolle esikoisen synnyttyä 2013. Pienet kädet olivat liian innokkaita kiskomaan koruja kaulasta ja suuhun ne menivät ensimmäisenä. Toinen tyttäreni syntyi 2016 ja tuolloin törmäsin erilaisiin vauva- ja taaperoystävällisiin koruihin. Ryhdyin suunnittelemaan omanlaisia koruja ja pikkuhiljaa ajatus omasta yrityksestä heräsi. Halusin suunnitella koruja lapsille ja aikuisille sekä loppuvaiheessa ystävän vinkistä mukaan tuli myös avainnauhat.</p>
                    <p class="text-muted">Tämä on minun pieni yritykseni ja pääsen luomaan siinä jotain kaunista. Toivottavasti pidät tuotteistani ja ota yhteyttä, mikäli sinulla on jotain kysyttävää.</p>
                    <a href="#contact" class="page-scroll btn btn-primary btn-xl sr-button">Yhteystiedot</a>
                </div>
            </div>
        </div>
    </section>